# Block access to your .htaccess file – 
# By adding he following code to your htaccess file will prevent attempts to access your htaccess file. 
# This extra layer of security protects your htaccess file by displaying a 403 error message on the browser.

# secure htaccess file

<Files .htaccess>
order allow,deny
deny from all
</Files>

#Turn Rewrite Engine On
RewriteEngine on



#Rewrite for index.php
RewriteRule ^login index.php [L]

# NC makes the rule non case sensitive
# L makes this the last rule this specific condition will match

#Rewrite for librarie.php
RewriteRule ^librarie librarie.php [L]

#Rewrite for signup.php
RewriteRule ^register signup.php [L]


#Rewrite for searchscript.php?search=xxxxx
#RewriteRule ^search/([0-9a-zA-Z]+) searchscript.php?search=$1 [NC, L]